/* fonts */
/* 
    font-family: 'Cinzel', serif;
    font-family: 'PT Serif', serif;
*/
html {
  font-size: 16px;
}

body {
  margin: 0;
  color: #414141;
  /* font-size: 18px;
  line-height: 1.6;
  font-family: 'PT Serif', serif; */
}

a {
  text-decoration: none;
  color: #CA5E10;
}

header {
  /* outline: 2px solid red; */
  /* background: yellow; */
  max-width: 75rem;
  text-align: center;
  margin: 6rem auto;
  padding: 0 2rem;
  /* background: orange;
  padding: 2em 0;
  color: white; */
}

h1 {
  font-size: 96px;
  line-height: .9;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Cinzel', serif;
  font-weight: 900;
}

.subtitle {
  font-size: 36px;
  line-height: 1.2;
  color: #7D7D7D;
}

.lead {
  font-size: 21px;
}

.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
  margin-top: 50px;
}

.container p {
  text-align: left;
}