body{
    background: #fff;
    text-align: center;
}

h1{
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 3em 0 0 0;
}
.text-accent{
    color: #00A1AB;
}
.fs-500{
    margin-top: 0;
    color: #4E4E4E;
    font-size: 21px;
}
.plans{   
    display: flex;
    justify-content: center;
    margin: 2em 0;
}
 .plan{
    margin: 0 .5em;
    max-width: 200px;
    padding: 2em;
    border-radius: 1em;
    
}
.plan--light{
    background: linear-gradient(333.85deg, #E5E3E8 0.88%, #FAFAFA 99.09%);
    color: #4e4e4e;
}
.plan--accent{
    background: linear-gradient(333.85deg, #00A1AB 0.88%, #3741A0 99.09%);
    color: #fff;
}
.plan--title{
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 1em;
}
.plan--price{
    font-size: 48px;
    color: #00A1AB;
    font-weight: 900;
    line-height: 1;
}
.plan--price span{
    display: block;
    font-size: 25px;  
    font-weight: 300;
}
.plan--description{
    margin: 2em 0;
    line-height: 1.5em;
}


.button{
    text-decoration: none;
    padding: .5em .75em;
    border-radius: 6px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.button--light{
    background:#fff ;
    color: #4E4E4E;
}

.button--dark{
    background:#4E4E4E;
    color: #fff;
}

.button--accent{
    background: #00A1AB;
}


